In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from decimal import Decimal

In [44]:
df = pd.read_csv('coil/tic_training.csv')

In [71]:
df.head()

,NID,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
0,1,33,1,3,2,8,0,5,1,3,...,0,0,0,1,0,0,0,0,0,0
1,2,37,1,2,2,8,1,4,1,4,...,0,0,0,1,0,0,0,0,0,0
2,3,37,1,2,2,8,0,4,2,4,...,0,0,0,1,0,0,0,0,0,0
3,4,9,1,3,3,3,2,3,2,4,...,0,0,0,1,0,0,0,0,0,0
4,5,40,1,4,2,10,1,4,1,4,...,0,0,0,1,0,0,0,0,0,0

In [72]:
len(df["NID"])

5822

In [73]:
single_co=[]

def epsilon(campo):
    #n=len(df["NID"])
    n=5822
    n_caravan=sum(df['CARAVAN'])

    cuentas = df.groupby([campo]).size().reset_index(name='counts')
    cross = pd.crosstab(df.CARAVAN,df[campo])

    c_row = cuentas.shape[0] - 1
    
    print(" Epsilon de {}".format(campo))

    for i in range(0,c_row):
        nx_i=cuentas.iloc[i,1]
        ncx_i=cross.iloc[1,i]
        E_i = nx_i * (Decimal(ncx_i)/Decimal(nx_i) - Decimal(n_caravan)/Decimal(n)) / (Decimal(nx_i) * (Decimal(n_caravan)/Decimal(n)) * (1 - Decimal(n_caravan)/Decimal(n)))**Decimal(0.5)
        #print("E_{}:  {}".format(i,E_i))
        single_co.append({"campo":campo,
                     "epsilon":i,
                     "valor":round(E_i,2)})

Ejemplo de columna APERSAUT

In [48]:
#EJEMPLO
epsilon('APERSAUT')

 Epsilon de APERSAUT

In [49]:
#EJEMPLO
df_single_co = pd.DataFrame(single_co)
print(df_single_co)

      campo  epsilon  valor
0  APERSAUT        0  -7.75
1  APERSAUT        1   6.07
2  APERSAUT        2   6.27
3  APERSAUT        3   0.34
4  APERSAUT        4  -0.56
5  APERSAUT        5  -0.25

In [50]:
#EJEMPLO
df_single_co.sort_values(by=['valor'], ascending=False)

      campo  epsilon  valor
2  APERSAUT        2   6.27
1  APERSAUT        1   6.07
3  APERSAUT        3   0.34
5  APERSAUT        5  -0.25
4  APERSAUT        4  -0.56
0  APERSAUT        0  -7.75

EjecuciÃ³n de todas las columnas

In [74]:
del df["NID"]

for i in list(df):
    epsilon(i)

 Epsilon de MOSTYPE
 Epsilon de MAANTHUI
 Epsilon de MGEMOMV
 Epsilon de MGEMLEEF
 Epsilon de MOSHOOFD
 Epsilon de MGODRK
 Epsilon de MGODPR
 Epsilon de MGODOV
 Epsilon de MGODGE
 Epsilon de MRELGE
 Epsilon de MRELSA
 Epsilon de MRELOV
 Epsilon de MFALLEEN
 Epsilon de MFGEKIND
 Epsilon de MFWEKIND
 Epsilon de MOPLHOOG
 Epsilon de MOPLMIDD
 Epsilon de MOPLLAAG
 Epsilon de MBERHOOG
 Epsilon de MBERZELF
 Epsilon de MBERBOER
 Epsilon de MBERMIDD
 Epsilon de MBERARBG
 Epsilon de MBERARBO
 Epsilon de MSKA
 Epsilon de MSKB1
 Epsilon de MSKB2
 Epsilon de MSKC
 Epsilon de MSKD
 Epsilon de MHHUUR
 Epsilon de MHKOOP
 Epsilon de MAUT1
 Epsilon de MAUT2
 Epsilon de MAUT0
 Epsilon de MZFONDS
 Epsilon de MZPART
 Epsilon de MINKM30
 Epsilon de MINK3045
 Epsilon de MINK4575
 Epsilon de MINK7512
 Epsilon de MINK123M
 Epsilon de MINKGEM
 Epsilon de MKOOPKLA
 Epsilon de PWAPART
 Epsilon de PWABEDR
 Epsilon de PWALAND
 Epsilon de PPERSAUT
 Epsilon de PBESAUT
 Epsilon de PMOTSCO
 Epsilon de PVRAAUT
 Epsilon de PAANHANG
 Epsilon de PTRACTOR
 Epsilon de PWERKT
 Epsilon de PBROM
 Epsilon de PLEVEN
 Epsilon de PPERSONG
 Epsilon de PGEZONG
 Epsilon de PWAOREG
 Epsilon de PBRAND
 Epsilon de PZEILPL
 Epsilon de PPLEZIER
 Epsilon de PFIETS
 Epsilon de PINBOED
 Epsilon de PBYSTAND
 Epsilon de AWAPART
 Epsilon de AWABEDR
 Epsilon de AWALAND
 Epsilon de APERSAUT
 Epsilon de ABESAUT
 Epsilon de AMOTSCO
 Epsilon de AVRAAUT
 Epsilon de AAANHANG
 Epsilon de ATRACTOR
 Epsilon de AWERKT
 Epsilon de ABROM
 Epsilon de ALEVEN
 Epsilon de APERSONG
 Epsilon de AGEZONG
 Epsilon de AWAOREG
 Epsilon de ABRAND
 Epsilon de AZEILPL
 Epsilon de APLEZIER
 Epsilon de AFIETS
 Epsilon de AINBOED
 Epsilon de ABYSTAND
 Epsilon de CARAVAN

In [75]:
df_single_co = pd.DataFrame(single_co)

In [76]:
df_single_co.sort_values(by=['valor'], ascending=False)

        campo  epsilon  valor
405  PPERSAUT        3  10.81
461    PBRAND        4   9.36
535  APLEZIER        1   7.69
389  MKOOPKLA        6   7.49
7     MOSTYPE        7   7.04
57   MOSHOOFD        1   6.78
491  APERSAUT        2   6.27
490  APERSAUT        1   6.07
392   PWAPART        2   5.83
485   AWAPART        1   5.37
542  ABYSTAND        1   5.23
468  PPLEZIER        1   5.10
270    MHHUUR        0   5.10
411   PMOTSCO        1   4.43
169  MOPLLAAG        2   4.10
153  MOPLHOOG        4   4.09
379   MINKGEM        5   4.08
528    ABRAND        1   3.97
233      MSKA        7   3.93
209  MBERARBG        1   3.88
295     MAUT1        7   3.88
304     MAUT0        0   3.80
81     MGODPR        7   3.78
471  PPLEZIER        4   3.77
522    ALEVEN        4   3.76
11    MOSTYPE       11   3.75
183  MBERHOOG        7   3.74
206  MBERMIDD        7   3.59
254      MSKC        1   3.51
182  MBERHOOG        6   3.50
..        ...      ...    ...
211  MBERARBG        3  -2.56
118    MRELOV        5  -2.56
84     MGODOV        1  -2.57
94     MGODGE        6  -2.57
351  MINK4575        2  -2.67
433     PBROM        2  -2.73
292     MAUT1        4  -2.75
173  MOPLLAAG        6  -2.76
280    MHKOOP        1  -2.87
278    MHHUUR        8  -2.89
21    MOSTYPE       21  -2.93
258      MSKC        5  -2.94
383  MKOOPKLA        0  -2.97
336   MINKM30        5  -3.00
358  MINK7512        0  -3.11
376   MINKGEM        2  -3.13
517     ABROM        1  -3.20
60   MOSHOOFD        4  -3.36
149  MOPLHOOG        0  -3.40
308     MAUT0        4  -3.85
404  PPERSAUT        2  -3.86
457    PBRAND        0  -4.11
527    ABRAND        0  -4.11
484   AWAPART        0  -4.37
390   PWAPART        0  -4.37
377   MINKGEM        3  -4.46
459    PBRAND        2  -4.74
489  APERSAUT        0  -7.75
402  PPERSAUT        0  -7.75
543   CARAVAN        0 -18.65

[544 rows x 3 columns]